<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Trámites SIC - Desarrollo</title>
            </f:facet>
        </h:head>

        <h:body>
            <p:graphicImage name="banner_sic.png" library="images" width="1100px"/>
            <div class="card">
                <p:steps activeIndex="3">
                    <p:menuitem value="Seleccione el Trámite"/>
                    <p:menuitem value="Ingrese sus Datos Personales"/>
                    <p:menuitem value="Radicación"/>
                    <p:menuitem value="Confirmación"/>
                </p:steps>
                <br></br><br></br>
                
                <h:form style="align-content:  center">
                    <h1> <b>Estimado(a) Ciudadano(a)</b> </h1>
                    <br></br>
                   <h2> #{tramitesManagedBean.crearTercero.nombres} #{tramitesManagedBean.crearTercero.apellidos} 
                   
                    identificado(a) con #{tramitesManagedBean.crearTercero.tipoIdentificacion} #{tramitesManagedBean.crearTercero.numeroIdentificacion}
                  
                    <br></br>
                    <br></br>
                    Su trámite de #{tramitesManagedBean.tramiteSeleccionado.tipoTramite}  fue registrado correctamente con el radicado número #{tramitesManagedBean.crearTramite.numeroRadicado} del #{tramitesManagedBean.getfechaDetallada(tramitesManagedBean.crearTramite.fechaRadicado)}.
                    <br></br> <br></br> 
                     </h2>
                     <div class="p-grid ui-fluid">
                 
                   
                     </div>
                    <br></br><br></br>
                    <p:commandButton value="Salir" style="margin:20px"
                              action="#{tramitesManagedBean.salir()}" ajax="false" />
                </h:form>
                     
            </div>

        </h:body>

    </f:view>
</html>

