<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Trámites SIC - Desarrollo</title>
            </f:facet>
        </h:head>

        <h:body>
            <p:graphicImage name="banner_sic.png" library="images" width="1100px"/>
            <div class="card">
                <p:steps>
                    <p:menuitem value="Seleccione el Trámite"/>
                    <p:menuitem value="Ingrese sus Datos Personales"/>
                    <p:menuitem value="Radicado"/>
                    <p:menuitem value="Confirmación"/>
                </p:steps>
                <br></br><br></br>
                
                <h:form style="align-content:  center">
                     <div class="p-grid ui-fluid">
                    <p:selectOneMenu id="tramites" >
                    <f:selectItem itemLabel="Selecione un trámite" itemValue=""/>
                    <f:selectItems value="#{tramitesManagedBean.tramitesSic}" 
                                   var="tramite"
                                   itemLabel="#{tramite.infoTramite}"
                                   itemValue="#{tramite.idTramite}"
                                   ></f:selectItems> 
                    
                </p:selectOneMenu>
                   
                    </div>
                    <br></br><br></br>
                    <p:button value="Continuar" />
                </h:form>
                     
            </div>

        </h:body>

    </f:view>
</html>

