<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Trámites SIC - Desarrollo</title>
            </f:facet>
        </h:head>

        <h:body>
            <h:form>
            <p:graphicImage name="banner_sic.png" library="images" width="1100px"/>
            <div class="card">
           <h2>Login</h2>
           <p:outputLabel for="@next" value="Usuario:  "/>
           <p:inputText id="usuario"  value="#{loginMB.contraseña}"
                                              placeholder="Usuario" 
                                              size="40"/>
           <p:outputLabel for="@next" value="Contraseña  "/>
           <p:password id="nonFeedback" value="#{loginMB.contraseña}"/>
            </div>
            
             <p:commandButton value="Ingresar" style="margin:20px"
                              action="#{loginMB.validarLogin()}" ajax="false" />
             </h:form>
        </h:body>

    </f:view>
</html>

