<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Trámites SIC - Desarrollo</title>
            </f:facet>
        </h:head>

        <h:body>
            <p:graphicImage name="banner_sic.png" library="images" width="1100px"/>
            <div class="card">
                <p:steps activeIndex="1">
                    <p:menuitem value="Seleccione el Trámite"/>
                    <p:menuitem value="Ingrese sus Datos Personales"/>
                    <p:menuitem value="Radicación"/>
                    <p:menuitem value="Confirmación"/>
                </p:steps>
                <br></br><br></br>

                <h:form style="align-content:  center">
                    <div class="ui-fluid p-formgrid p-grid">   
                        <div class="p-field p-col-12 p-md-4">
                            <p:outputLabel for="@next" value="Tipo de Identificación:  "/>
                            <p:selectOneMenu id="tipo_doc"  
                                             value="#{tramitesManagedBean.crearTercero.tipoIdentificacion}"  >
                                <f:selectItem itemLabel="Seleccione" itemValue=""/>
                                <f:selectItem itemLabel="Cédula de Ciudadania" itemValue="CC"/>
                                <f:selectItem itemLabel="Pasaporte" itemValue="PP"/>
                                <f:selectItem itemLabel="Documento de Extranjería" itemValue="DE"/>
                                <f:selectItem itemLabel="NIT" itemValue="NIT"/>

                            </p:selectOneMenu>
                        </div>
                        <br></br><br></br>
                        <div class="p-field p-col-12 p-md-4">

                            <div class="ui-inputgroup">
                                <p:outputLabel for="@next" value="Número de Identificación:  "/>
                                <p:inputText  value="#{tramitesManagedBean.crearTercero.numeroIdentificacion}"
                                              placeholder="Número de Documento" 
                                              size="40"/>
                            </div>

                        </div>
                    </div>   
                    <br></br><br></br>

                    <div class="p-grid ui-fluid">
                        <div class="p-col-12 p-md-4">


                            <p:outputLabel for="@next" value="Nombres:  "/>
                            <p:inputText  value="#{tramitesManagedBean.crearTercero.nombres}"
                                          placeholder="Nombres" size="40"/>

                        </div>
                        <br></br>

                        <div class="p-col-12 p-md-4">


                            <p:outputLabel for="@next" value="Apellidos:  "/>
                            <p:inputText value="#{tramitesManagedBean.crearTercero.apellidos}" 
                                         placeholder="Apellidos" size="40"/>

                        </div>
                        <br></br>

                        <div class="p-col-12 p-md-4">

                            <p:outputLabel for="@next" value="Dirección" />
                            <p:inputText value="#{tramitesManagedBean.crearTercero.direccion}" 
                                         placeholder="Dirección" size="40" required="true" />

                        </div>
                        <br></br><br></br>
                        <div class="p-col-12 p-md-4">

                            <p:outputLabel for="@next" value="Email"/>
                            <p:inputText id="email"
                                         value="#{tramitesManagedBean.crearTercero.email}" 
                                         placeholder="Email" 
                                         size="40" 
                                         required="true" 
                                         validatorMessage="Formato de correo inválido" 
                                         requiredMessage="El correo es obligatorio"  >

                                <f:validateRegex
                                    pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />

                            </p:inputText>
                            <p:watermark for="email" value="Correo electrónico *" />
                            <p:message for="email" />
                        </div>
                        <br></br><br></br>
                        <div class="p-col-12 p-md-4">

                            <p:outputLabel for="@next" value="Teléfono  "/>
                            <p:inputMask id="telefono"
                                         value="#{tramitesManagedBean.crearTercero.telefono}" 
                                         required="true"
                                         placeholder="Teléfono" size="40"   validatorMessage="El teléfono es obligatorio"
                                         >
                               
                            </p:inputMask>
                            <p:message for="telefono" />
                        </div>
                    </div>

                    <br></br><br></br>
                    <p:selectBooleanCheckbox id="acepto"  
                                             required="true" 
                                             requiredMessage="Debe aceptar el tratamiento de datos personales para continuar" 
                                             itemLabel="Autorizo el tratamiento de datos personales bajo la politica de tratamiento de información"/>
                    <p:message for="acepto" />
                    <br></br><br></br>
                    <p:commandButton value="Continuar" style="margin:20px"
                                     action="#{tramitesManagedBean.guardarTercero()}" ajax="false" />
                </h:form>

            </div>

        </h:body>

    </f:view>
</html>

